@model CitasMedicas.Web.Models.Dto.CreateAppointmentDto

@{
    ViewData["Title"] = "Agendar Cita";
    var patients = ViewBag.Patients as List<CitasMedicas.Web.Models.Dto.PatientDto>;
    var doctors = ViewBag.Doctors as List<CitasMedicas.Web.Models.Dto.DoctorDto>;
}

<h1 class="text-center my-4">Agendar Nueva Cita</h1>

<form asp-action="CreateAppointment" method="post">
    <div class="container border p-3">
        <div class="row pb-2">
            <h2 class="text-primary">Agendar Cita</h2>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="PatientId" class="form-label">Paciente</label>
            <select asp-for="PatientId" asp-items="@(new SelectList(patients, "PatientId", "Name"))" class="form-select">
                <option value="">-- Seleccione un paciente --</option>
            </select>
            <span asp-validation-for="PatientId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="DoctorId" class="form-label">Médico</label>
            <select asp-for="DoctorId" asp-items="@(new SelectList(doctors, "DoctorId", "Name"))" class="form-select">
                <option value="">-- Seleccione un médico --</option>
            </select>
            <span asp-validation-for="DoctorId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="AppointmentDate" class="form-label">Fecha y Hora</label>
            <input asp-for="AppointmentDate" type="datetime-local" class="form-control" />
            <span asp-validation-for="AppointmentDate" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label">Motivo de la visita</label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-6">
                <a asp-action="AppointmentIndex" class="btn btn-secondary form-control">Volver a la lista</a>
            </div>
            <div class="col-6">
                <button type="submit" class="btn btn-primary form-control">Agendar</button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}